
    <div>
      <input type="text" ng-model="adjective1" placeholder="Enter adjective"/>
      <input type="text" ng-model="adjective2" placeholder="Enter adjective"/>
      <input type="text" ng-model="noun1" placeholder="Enter noun"/>
      <input type="text" ng-model="noun2" placeholder="Enter noun"/>
      <input type="text" ng-model="pluralNoun1" placeholder="Enter plural noun"/>
      <input type="text" ng-model="game1" placeholder="Enter a game"/>
      <input type="text" ng-model="pluralNoun2" placeholder="Enter plural noun"/>
      <input type="text" ng-model="pluralNoun3" placeholder="Enter plural noun"/>
      <input type="text" ng-model="verbIng1" placeholder="Enter verb"/>
      <button ng-click='save()'> Save Words! </button>
    </div>
